node_modules/
Cypress/videos/
Cypress/screenshots/
Cypress/downloads/
Cypress/allure-results/
Cypress/allure-report/
Cypress/allure-history/
Robot/results/
Robot/results_tests/
Robot/dryrun-results/
Robot/allure-report/
output/
K6 + Mock/tests/report/
K6 + Mock/tests/reports/*
!K6 + Mock/tests/reports/.gitkeep
Postman/reports/
